body {
  height: 100%;
  width: 100%;
  background-image: url(../imgs/background.jpg);
}

#game-board {
  min-height: 100vh;
  min-width: 100vw;
}

#playerA, #playerB{
  position: absolute;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
}

#playerA {
  transform: rotate(90deg);
  top: 160px;
  right: 40px;
}

#playerB {
  transform: rotate(-90deg);
  top: 160px;
}

#header {
  text-align: center;
}

h1 {
  color: white;
  font-size: 3vw;
  text-align: center;
  display: block;
}

h2 {
  color: white;
}

.timer{
  position: fixed;
  bottom:0;
}

#total-time{
  color: white;
}

.x-wing{
  height: 50px;
  width: 50px;
}

.asteroid{
  position: absolute;
  height: 75px;
  width: 75px;
}
